@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700;800&display=swap');

:root{
	--white:#fff;
	--black:#000;
	--red:red;
	--gold:#C4A96E;
}

*{box-sizing:border-box; font-family: 'Manrope', sans-serif; margin: 0; padding: 0; color:white;}

h1{margin: 0; font-size:60px;}

body{background-image:url("../img/egypt1.png");  background-size:cover; background-position:center; background-repeat:no-repeat; height: 100vh; position: relative;}
.backgrd:before{content:''; height:100%; width: 100%; background-color:rgba(0,0,0,.35); position:absolute; top: 0;left: 0;}


.container{max-width:1000px; margin: 0 auto; position:relative; z-index: 10;}

form{margin:0 auto;}
form div{margin-bottom:15px; display:flex; align-items:center; justify-content:center; flex-wrap:wrap;}
form span{display:block; width: 250px; text-align:right; padding-right: 10px;}
form input{width: calc(100% - 250px); padding: 10px; color:var(--gold);}
form input.submit{color:var(--black); align-self:end; width: 200px; display:block; margin-left: auto; text-align: center; margin-top: 25px; background-color: var(--gold); border:none; text-transform: uppercase;}

.delete input{background:transparent; border:none; display: initial; width: auto; padding: 0 5px; font-size: 16px; }
.edit{padding: 0 5px;}

.error{color:var(--red);}

.titles.elm{font-weight: 900; font-size: 18px; padding-top: 25px; padding-bottom: 15px;}

.elm{display:flex; align-items:flex-start; justify-content:flex-start; flex-wrap:wrap;}
.elm > p{width: calc(33.33% - 40px);}
.elm .actions{width: 120px; display: flex;}	

#language{margin-top: 50px;}

